body {
  --teal: #4191ba;
  --purple: #4f386c;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  color: var(--teal);
  font-size: 80px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: lowercase;
  -webkit-text-stroke: 1px var(--purple);
}

a {
  color: var(--purple);
  text-decoration: none;
  -webkit-text-stroke: 1px var(--teal);
}

.cta {
  align-items: center;
  display: flex;
  justify-content: center;
}

.cta a {
  text-transform: lowercase;
  font-size: 40px;
}

.gallery {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 400px;
}

.image img {
  height: auto;
  width: 100%;
}

.image figcaption {
  color: var(--teal);
  font-size: 30px;
  text-align: center;
  text-transform: lowercase;
  -webkit-text-stroke: 1px var(--purple);
}

.pulsing {
  color: #6aff00;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: pulsing;
}

@keyframes pulsing {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media(max-width: 800px) {
  h1 {
    font-size: 60px;
  }

  .cta a {
    font-size: 25px;
  }

  .image figcaption {
    font-size: 20px;
  }

  .image {
    width: 300px;
  }
}